@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Proxima";
  src: local("Proxima"),
    url("../src/assets/font/PROXIMANOVACOND-BLACK.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Basis";
  src: local("Basis"),
    url("../src/assets/font/BASISGROTESQUEPRO-BLACK.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mona";
  src: local("Mona"),
    url("../src/assets/font/MONA-SANS-SEMIBOLD.OTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Body";
  src: local("Body"),
    url("../src/assets/font/MONTSERRAT-REGULAR.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
